@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

html { 
  scroll-behavior: smooth;
}



body {
  margin: 0%;
}

nav {
  background-color: hsla(17, 77%, 55%, 0.98);
  height: 7rem;
  position: sticky;
  top: 0rem;
  /* position: fixed;
  width: 100%; */
  z-index: 1;
}

nav img {
  height: 95px;
  width: 95px;
  float: left;
  margin-left: 7rem;
  margin-top: 0.5rem;
  filter: brightness(0) invert(1);
}

nav p {
  font-family: Titillium Web;
  font-size: 2.5pc;
  font-weight: bolder;
  position: absolute;
  color: white;
  left: 14rem;
}

nav a {
  font-size: 1pc;
  font-family: Titillium Web;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  margin-top: 1rem;
  padding: 1rem;
  margin-right: 2rem;
  display: inline-block;
  float: right;
  transition: 0.3s;
  border-radius: 5px;
}

nav a:hover {
  background-color: #c40e0e;
}

header {
  height: 750px;
  width: 100%;
  background-image: url(https://archello.s3.eu-central-1.amazonaws.com/images/2020/12/04/estudio-ch--varro-mustapan-coffee-shop-shops-archello.1607075335.1427.jpg);
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

header h1 {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 9pc;
  color: white;
  position: relative;
  top: 5rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  /* text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.616); */
  user-select: none;
 
}

header button {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 4pc;
  color: hsla(17, 77%, 55%, 0.98);
  background-color: white;
  border-color: #f9f9f9;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  
  /* top: 2rem;
  left: 47rem;
  right: 47rem;
  bottom: 0rem; */
  /* margin-top: 2rem;
  margin-left: 47rem;
  margin-right: 0rem; */
  
  
}

header button:hover {
  background-color: #c40e0e;
  color: white;
  border-color: #c40e0e;
}


#brie {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 3pc;
  width: 70rem;
  text-align: center;
  margin: 10rem auto;
  /* text-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.24); */
}


#bSelling {

  font-family: sans-serif;
  font-weight: bolder;
  font-size: 3pc;
  margin-left: 5rem;
}


#menu {
  border: solid #0000005b;
  border-radius: 5px;
 margin: 0 auto;
 width: 97%;
 border-width: 1px;
 

}


.quality {
  /* border: solid tomato; */
  position: relative;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 2.5pc;
  width: 98%;
  margin: 10rem auto;
  height: 500px;
  text-align: left;
  transition: 1s;
  opacity: 0;
 
  padding: 0.5rem;

}

.quality:hover {
  opacity: 1;
  padding: 0rem;
}


.quality img { 
  position: absolute;
  left: 5rem;
  top: 2rem;
 
 
}





.quality h4 {
  position: absolute;
  width: 30rem;
  right: 10rem;
  top: 3rem;
}






.items {
  width: 90%;
  overflow: hidden;
  margin-top: 10rem;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  user-select: none;
}

.item1 {
  font-family: sans-serif;
  /* font-weight: bolder; */
  font-size: 2pc;
  text-align: center;
  user-select: none;
}

.item1 img {
  width: 500px;
  height: 500px;
  /* margin-right: 40rem; */
}

.item1 button {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 2pc;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  margin-top: 1rem;
}

.item1 button:hover {
  background-color: #c40e0e;
  color: white;
  border-color: #c40e0e;
}

.item2 {
  font-family: sans-serif;
  /* font-weight: bolder; */
  font-size: 2pc;
  text-align: center;
  user-select: none;
}

.item2 img {
  width: 400px;
  height: 500px;
  /* margin-right: 40rem; */
}

.item2 button {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 2pc;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  margin-top: 1rem;
}

.item2 button:hover {
  background-color: #c40e0e;
  color: white;
  border-color: #c40e0e;
}

.item3 {
  font-family: sans-serif;
  /* font-weight: bolder; */
  font-size: 2pc;
  text-align: center;
  user-select: none;
}

.item3 img {
  width: 500px;
  height: 500px;
  /* margin-right: 40rem; */
}

.item3 button {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 2pc;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  margin-top: 1rem;
}

.item3 button:hover {
  background-color: #c40e0e;
  color: white;
  border-color: #c40e0e;
}

footer {
 
  font-family: sans-serif;
  font-size: 1.5pc;
  color: white;
  margin-top: 10rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: hsla(24, 100%, 50%, 0.657);
  text-align: center;
  
}





footer img {
  height: 80px;
  width: 180px;
  padding: 2rem;
}

footer a {
  font-size: 1.5pc;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  transition: 0.3s;
  color: #c40e0e;
  
}

footer p {
  font-size: 1.1pc;
  padding: 1.5rem;
  color: #c40e0e;
  word-spacing: 0.1rem;
  
}

footer a:hover {
  color: hsl(0, 90%, 59%);
}
